<%= form_with(model: reply) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
        <% reply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :comm_id, value: @comment.id %>
  <%= form.hidden_field :root_id, value: @comment.contributions_id %>
  <%= form.text_area :text, size: "60x6"%>
  <br><br>
  <%= form.submit "reply"%>
  
<% end %>
