<%= form_with(model: comment, method:"post") do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.hidden_field :contributions_id, value: @contribution.id %>
  <%= form.text_area :text, size: "60x6"%>
  <br><br>
  <%= form.submit "add comment"%>
  
<% end %>