<html lang="en" op="news"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
      <title>Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
        <td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
        <tr><td style="width:18px;padding-right:4px"><%= link_to image_tag('hacker-news.png'), contributions_path %></td>
        <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a><%= link_to 'Hacker News', contributions_path %></a></b>

        <a><%= link_to 'new', newest_path %></a> | 
        <% if !session[:user].nil? %>
          <a><%= link_to 'threads', show_commentsUser_path(session[:user]["id"]) %></a> | 
        <% end %>
        <a href="front">past</a> | <a href="newcomments">comments</a> | <a><%= link_to 'ask', asks_path %></a> | <a href="show">show</a> | <a href="jobs">jobs</a> | 
        <a><%= link_to 'submit', new_contribution_path %></a>
        
        </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop"><%= link_to session[:user]["name"], edit_users_path(session[:user]["id"]) %> | <%= link_to "logout", logout_path%></span></td></tr></table></td>
      </tr> 
      
      <tr id="pagespace" title="" style="height:10px"></tr>
      <tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">
        
      <% @comments.each do |comment| %>
        <% @contribution = Contribution.all.find_by(id: comment.contributions_id) %>
        <tr class='athing comtr' id='26841716'><td><table border='0'>
        <tr>
        <td class="ind"><img src="" height="1" width="20"></td>
        <td class="default">
        <div style="margin-top:2px; margin-bottom:-5px;">
        <span class="comhead">
        <a>
          <% if Votescomment.all.find_by(comment_id: comment.id, user_id: session[:user]["id"]).nil? %>
            <%= link_to '⇧', vote_comment_path(comment), method: :put %>
          <% else %>
            <%= link_to '⇩', unvote_comment_path(comment), method: :put %>
          <% end %>
        </a> | 
        <a><%= link_to comment.author, show_users_path(User.all.find_by(id: comment.author_id)) %></a> <span class="age"><a><%= comment.created_at %></a></span> | 
        <% if !comment.comments_id.nil? %>
          <%= link_to 'parent', show_comments_path(Comment.all.find_by(id: comment.comments_id)) %>
        <% end %>
        <span class='storyon'> | on: <%= link_to @contribution.title, show_contributions_path(@contribution) %></span>
        </span></div><br>
        <div class="comment"><span class="commtext c00"><%= comment.text %></span>
        <div class='reply'><p><font size="1"><u><%= link_to 'reply', show_comments_path(comment) %></u></font>
        </div></div></td>
        <br></tr>
        
        </table></td></tr>
      <% end %>
      
</table>
</td></tr>
<tr><td><img src="s.gif" height="10" width="0"><table width="100%" cellspacing="0" cellpadding="1"><tr><td bgcolor="#ff6600"></td></tr></table><br><center><a href="https://www.ycombinator.com/apply/">
        Applications are open for YC Summer 2021
      </a></center><br><center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="lists">Lists</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
            </center></td></tr>
      </table></center></body><script type='text/javascript' ></script></html>
