<% @contribution = Contribution.all.find_by(id: @comment.contributions_id) %>

<html lang="en" op="reply"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico">
        <title>Add Comment | Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr><td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px"><tr><td style="width:18px;padding-right:4px"><%= link_to image_tag('hacker-news.png'), contributions_path %></td>
        <td style="line-height:12pt; height:10px;"><span class="pagetop"><b>Add Comment</b></span></td></tr></table></td></tr>
        
<tr id="pagespace" title="Add Comment" style="height:10px"></tr><tr><td><table class="fatitem" border="0">
    <tr class='athing' id='26863933'><td class='ind'></td>
      <td valign="top" class="votelinks"><center><a>
        <% if Votescomment.all.find_by(comment_id: @comment.id, user_id: session[:user]["id"]).nil? %>
          <%= link_to '⇧', vote_comment_path(@comment), method: :put %>
        <% else %>
          <%= link_to '⇩', unvote_comment_path(@comment), method: :put %>
        <% end %>
      </a></center></td>
      <td class="default"><div style="margin-top:2px; margin-bottom:-10px;">
        <span class="comhead"><a><%= @comment.author %></a> 
        <span class="age"><a href="item?id=26863933"><%= @comment.created_at %></a></span> 
        <span id="unv_26863933"></span><span class="par"> | 
        <% if !@comment.comments_id.nil? %>
          <%= link_to 'parent', show_comments_path(Comment.all.find_by(id: @comment.comments_id)) %>
        <% end %>
        <span class='storyon'> | on: <%= link_to @contribution.title, show_contributions_path(@contribution) %> </span>
        </span></div>
        <br>
        <div class="comment"><span class="commtext c00"> <a><%= @comment.text %></a></span>
              
        <%= render '/replies/form', reply: Reply.new %>
      </td>
    </tr>
    
</table></td></tr></table></center></body><script type='text/javascript'></script></html>