<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<html lang="en" op="news"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
      <title>Profile: <%= session[:user]["name"] %> | Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
        <td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
        <tr><td style="width:18px;padding-right:4px"><%= link_to image_tag('hacker-news.png'), contributions_path %></td>
        <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a><%= link_to 'Hacker News', contributions_path %></a></b>
        
        <a><%= link_to 'new', newest_path %></a> | <a href="threads?id=longchen">threads</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a><%= link_to 'ask', asks_path %></a> | <a href="show">show</a> | <a href="jobs">jobs</a> | 
        
        <a><%= link_to 'submit', new_contribution_path %></a>
        </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop"><%= session[:user]["name"] %> (0) | <%= link_to "logout", logout_path%></span></td></tr></table></td>
      </tr>  
              
              
<tr id="pagespace" title="Profile: "<%= session[:user]["name"] %> style="height:10px"></tr><tr><td>
  <table border="0" cellpadding="0" cellspacing="0"><tr><td bgcolor="#ffffaa"><table cellpadding="5" width="100%"><tr><td>Please put a valid address in the email field, or we won't be able to
    send you a new password if you forget yours.  Your address is only
    visible to you and us.  Crawlers and other users can't see it.
  </td></tr></table></td></tr></table>

  <form class="profileform" method="put" action="/xuser"><input type="hidden" name="id" value="longchen"><input type="hidden" name="hmac" value="44cf94f8f211251ce1a96cbf310e9b3a7b77b2c5">
<table border="0">
  <tr class='athing'><td valign="top">user:</td><td><a><%= user.name %></a></td></tr>
  <tr><td valign="top">created:</td><td><a><%= user.created_at %></a></td></tr>
  <tr><td valign="top">karma:</td><td><a><%= user.karma %></a></td></tr>
  <tr><td valign="top">about:</td><td style="overflow:hidden;">
    <textarea cols="60" rows="5" wrap="virtual" name="user[about]"><%= user.about %></textarea>
    <font size="-2"><a href="formatdoc" tabindex="-1"><font color="#afafaf">help</font></a></font>
  </td></tr>
  <tr><td valign="top">email:</td><td><a><%= user.email %></a></td></tr>
  <tr><td valign="top">token:</td><td><a><%= user.token %></a></td></tr>
  <tr><td valign="top">showdead:</td><td><select name="user[showdead]"><option>yes</option><option selected> 
    <% if user.showdead == 'no' %> no
    <% else %> yes
    <% end %>
  </option></select></td></tr>
  <tr><td valign="top">noprocrast:</td><td><select name="user[noprocrast]"><option>yes</option><option selected>
    <% if user.noprocrast == 'no' %> no
    <% else %> yes
    <% end %>
  </option></select></td></tr>
  <tr><td valign="top">maxvisit:</td><td><input type="text" name="user[maxvisit]" value=<%= user.maxvisit %> size="16"></td></tr>
  <tr><td valign="top">minaway:</td><td><input type="text" name="user[minaway]" value=<%= user.minaway %> size="16"></td></tr>
  <tr><td valign="top">delay:</td><td><input type="text" name="user[delay]" value=<%= user.delay %> size="16"></td></tr>
  <tr><td></td><td><a href="changepw"><u>change password</u></a></td></tr>
  <tr><td></td><td><a><u><%= link_to 'submissions', show_submissionsUser_path(session[:user]["id"]) %></u></a></td></tr>
  <tr><td></td><td><a><u><%= link_to 'comments', show_commentsUser_path(session[:user]["id"]) %></u></a></td></tr>
  <tr><td></td><td><a href="hidden"><u>hidden</u></a></td></tr>
  <tr><td></td><td><a><u><%= link_to 'upvoted submissions', show_upvotedContributions_path %></u></a> / <a><u><%= link_to 'comments', show_upvotedComments_path %></u></a><span style='font-style:italic'>(private)</span></td></tr>
  <tr><td></td><td><a href="favorites?id=longchen"><u>favorite submissions</u></a> / <a href="favorites?id=longchen&amp;comments=t"><u>comments</u></a>&nbsp;<span style='font-style:italic'>(shared)</span></td></tr>
</table>
  <br><input type="submit" value="update" method="put"></form><br><br>
  
</td></tr></table></center></body><script type='text/javascript'></script></html>

<% end %>