<html lang="en" op="news"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
      <title>Profile: <%= @user.name %> | Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
        <td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
        <tr><td style="width:18px;padding-right:4px"><%= link_to image_tag('hacker-news.png'), contributions_path %></td>
        <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a><%= link_to 'Hacker News', contributions_path %></a></b>
        
        <a><%= link_to 'new', newest_path %></a> | <a href="threads?id=longchen">threads</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a><%= link_to 'ask', asks_path %></a> | <a href="show">show</a> | <a href="jobs">jobs</a> | 
        
        <a><%= link_to 'submit', new_contribution_path %></a>
        </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop"><%= session[:user]["name"] %> (0) | <%= link_to "logout", logout_path%></span></td></tr></table></td>
      </tr> 
      
      <tr id="pagespace" title="Profile: "+ <%= @user.name %> style="height:10px"></tr>
      
      <tr><td><table border="0">
        <tr class='athing'><td valign="top">user:</td><td timestamp="1371452252"><a><%= @user.name %></a></td></tr>
        <tr><td valign="top">created:</td><td><a><%= @user.created_at %></a></td></tr>
        <tr><td valign="top">karma:</td><td><a><%= @user.karma %></a></td></tr>
        <tr><td valign="top">about:</td><td style="overflow:hidden;"><a><%= @user.about %></a></td></tr>
        <tr><td></td><td><a><u><%= link_to 'submissions', show_submissionsUser_path(@user) %></u></a></td></tr>
        <tr><td></td><td><a><u><%= link_to 'comments', show_commentsUser_path(@user) %></u></a></td></tr>
        <tr><td></td><td><a href="favorites?id=sam_lowry_"><u>favorites</u></a></td></tr>
      </table><br><br></td></tr>
      
      </table></center></body><script type='text/javascript'></script></html>