<%= form_with(model: votescomment) do |form| %>
  <% if votescomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(votescomment.errors.count, "error") %> prohibited this votescomment from being saved:</h2>

      <ul>
        <% votescomment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment_id %>
    <%= form.number_field :comment_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
