<p id="notice"><%= notice %></p>

<h1>Votescomments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @votescomments.each do |votescomment| %>
      <tr>
        <td><%= votescomment.comment_id %></td>
        <td><%= votescomment.user_id %></td>
        <td><%= link_to 'Show', votescomment %></td>
        <td><%= link_to 'Edit', edit_votescomment_path(votescomment) %></td>
        <td><%= link_to 'Destroy', votescomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Votescomment', new_votescomment_path %>
