<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @votescomment.comment_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @votescomment.user_id %>
</p>

<%= link_to 'Edit', edit_votescomment_path(@votescomment) %> |
<%= link_to 'Back', votescomments_path %>
