<% if notice.nil? == false || alert.nil? == false %>
  <div class="warning">
    <p id="notice"><span style="color: green;"><%= notice %></span></p>
    <p id="alert"><span style="color: red;"><%= alert %></span></p>
  </div>
<% end %>

<%= form_with(model: contribution) do |form| %>
  <% if contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
        <% contribution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <html lang="en" op="submit"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="shortcut icon" href="favicon.ico"><title>Submit | Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef"><tr><td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px"><tr><td style="width:18px;padding-right:4px"><%= link_to image_tag('hacker-news.png'), contributions_path %></td><td style="line-height:12pt; height:10px;"><span class="pagetop"><b>Submit</b></span></td></tr></table></td></tr><tr id="pagespace"Submit style="height:10px"></tr><tr><td><form method="post" action="/r"><input type="hidden" name="fnid" value="GAeIuxxvVBbxEgVCLzjf4z"><input type="hidden" name="fnop" value="submit-page"><script type="text/javascript">function tlen(el) { var n = el.value.length - 80; el.nextSibling.innerText = n > 0 ? n + ' too long' : ''; }</script><table border="0"><tr><td>title</td><td><input type="text" name="contribution[title]" size="50" oninput="tlen(this)" onfocus="tlen(this)"><span style="margin-left:10px"></span></td></tr><tr><td>url</td><td><input type="text" name="contribution[url]" size="50"></td></tr><tr><td></td><td><b>or</b></td></tr><tr><td>text</td><td><textarea name="contribution[text]" rows="4" cols="49"></textarea></td></tr><tr><td></td><td></td></tr>
  <div = class = "actions"><tr><td></td><td><input type="submit" value="submit" method="post" ></td></tr><tr style="height:20px"></tr></div>
  <tr><td></td><td>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.<br><br>
  You can also submit via <a href="bookmarklet.html" rel="nofollow"><u>bookmarklet</u></a>.</td></tr></table></form></td></tr></table></center></body></html>

<% end %>
