<% if notice.nil? == false || alert.nil? == false %>
  <div class="warning">
    <p id="notice"><span style="color: green;"><%= notice %></span></p>
    <p id="alert"><span style="color: red;"><%= alert %></span></p>
  </div>
<% end %>

<html lang="en" op="news"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
      <title>Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
        <td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
        <tr><td style="width:18px;padding-right:4px"><%= link_to image_tag('hacker-news.png'), contributions_path %></td>
        <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a><%= link_to 'Hacker News', contributions_path %></a></b>

        <a><%= link_to 'new', newest_path %></a> | 
        <% if !session[:user].nil? %>
          <a><%= link_to 'threads', show_commentsUser_path(session[:user]["id"]) %></a> | 
        <% end %>
        <a href="front">past</a> | <a href="newcomments">comments</a> | <a><%= link_to 'ask', asks_path %></a> | <a href="show">show</a> | <a href="jobs">jobs</a> | 
        
        <% if session[:user].nil? %>
          <a><%= link_to 'submit', notlog_path %></a>
          </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop"><%= button_to "login", "/auth/google_oauth2"%></span></td></tr></table></td>
        <% else %>
          <a><%= link_to 'submit', new_contribution_path %></a>
          </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop"><%= link_to session[:user]["name"], edit_users_path(session[:user]["id"]) %> (0) | <%= link_to "logout", logout_path%></span></td></tr></table></td>
        <% end %>
      </tr>
        
  <tr id="pagespace" title="" style="height:10px"></tr>
  <tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">
    
    <% count = 1 %>
    <% @contributions.each do |contribution| %>
            <tr class='athing' id='26512720'>
            <td align="right" valign="top" class="title"><span class="rank"><%= count %>. |</span></td>
            <td><center>
              <% if session[:user].nil? %>
                <a style="color: orange;">*</a>
              <% elsif contribution.usersVoted.exclude?(","+session[:user]["id"].to_s+",") %>
                <%= link_to '⇧', vote_contribution_path(contribution), method: :put %>
              <% else %>
                <%= link_to '⇩', unvote_contribution_path(contribution), method: :put %>
              <% end %>
            </center></td>
            
            <td class="title">| 
            <% if contribution.url.empty? %>
              <a href= <%= show_contributions_path(contribution) %>> 
            <% else %>
              <a href= <%= contribution.url%>>
            <% end %>
            <span class="storylink"><%= contribution.title %></span></a><span class="sitebit comhead"> (<a><span class="sitestr"><%= contribution.url%></span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
            <span class="score" id="score_26512720"><%= contribution.points %> points</span> by <a><%= link_to contribution.user, show_users_path(User.all.find_by(id: contribution.userID)) %></a> <span class="age"><a><%= contribution.created_at %></a></span> <span id="unv_26512720"></span> | <a>hide</a> | <a><%= link_to 'comments', show_contributions_path(contribution) %></a></td></tr>
            <tr class="spacer" style="height:5px"></tr>
      <% count = count + 1 %>
    <% end %>
    
</table>
</td></tr>
<tr><td><img height="10" width="0"><table width="100%" cellspacing="0" cellpadding="1"><tr><td bgcolor="#ff6600"></td></tr></table><br><center><a href="https://www.ycombinator.com/apply/">
        Applications are open for YC Summer 2021
      </a></center><br><center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="lists">Lists</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
            </center></td></tr>
      </table></center></body><script type='text/javascript'></script></html>

