<% def draw_comment(comment, padding) %>
  <tr class='athing comtr' id='26841716'><td><table border='0'>
  <tr>
  <td class="ind"><img src="" height="1" width=<%= padding %>></td>
  <td class="default">
  <div style="margin-top:2px; margin-bottom:-10px;">
                  
  <a>
    <% if session[:user].nil? %>
      <a style="color: orange;">*</a>
    <% elsif Votescomment.all.find_by(comment_id: comment.id, user_id: session[:user]["id"]).nil? %>
      <%= link_to '⇧', vote_comment_path(comment), method: :put %>
    <% else %>
      <%= link_to '⇩', unvote_comment_path(comment), method: :put %>
    <% end %>
  </a>
  <span class="comhead">
  <a><%= link_to comment.author, show_users_path(User.all.find_by(id: comment.author_id)) %></a> <span class="age"><a><%= comment.created_at %></a></span> <span id="unv_26841716"></span><span class="par"></span><span class='storyon'></span>
  </span></div><br>
  <div class="comment"><span class="commtext c00"><%= comment.text %></span>
  <div class='reply'><p><font size="1"><u><%= link_to 'reply', show_comments_path(comment) %></u></font>
  </div></div></td>
  <br></tr>
  
  </table></td></tr>
<% end %>


<% def draw_fill_tree(comment, padding) %>
  <% Reply.all.where(comm_id: comment.id).each do |reply| %>
    
        <% @comment = Comment.all.find_by(id: reply.repl_id) %>

        <% draw_comment(@comment, padding) %>
        
        <% if !Reply.all.find_by(comm_id: @comment.id).nil? %>
          <% draw_fill_tree(@comment, padding + 40) %>
        <% end %>
  <% end %>
<% end %>


<html lang="en" op="news"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
      <title>Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
        <td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
        <tr><td style="width:18px;padding-right:4px"><%= link_to image_tag('hacker-news.png'), contributions_path %></td>
        <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a><%= link_to 'Hacker News', contributions_path %></a></b>
        
        <a><%= link_to 'new', newest_path %></a> | <a href="threads?id=longchen">threads</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a><%= link_to 'ask', asks_path %></a> | <a href="show">show</a> | <a href="jobs">jobs</a> | 
        
        <% if session[:user].nil? %>
          <a><%= link_to 'submit', notlog_path %></a>
          </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop"><%= button_to "login", "/auth/google_oauth2"%></span></td></tr></table></td>
        <% else %>
          <a><%= link_to 'submit', new_contribution_path %></a>
          </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop"><%= link_to session[:user]["name"], edit_users_path(session[:user]["id"]) %> (0) | <%= link_to "logout", logout_path%></span></td></tr></table></td>
        <% end %>
      </tr> 
              
      <tr id="pagespace" title=<%= @contribution.title %> style="height:10px"></tr><tr><td><table class="fatitem" border="0">
      <tr class='athing' id='26841385'><td align="right" valign="top" class="title"><span class="rank"></span></td>
      <td><center>
              <% if session[:user].nil? %>
                <a style="color: orange;">*</a>
              <% elsif @contribution.usersVoted.exclude?(","+session[:user]["id"].to_s+",") %>
                <%= link_to '⇧', vote_contribution_path(@contribution), method: :put %>
              <% else %>
                <%= link_to '⇩', unvote_contribution_path(@contribution), method: :put %>
              <% end %>
      </center></td>
      <td class="title"><a><%= @contribution.title %></a></td></tr><tr><td colspan="2"></td><td class="subtext">
      <span class="score" id="score_26841385"><%= @contribution.points %> points</span> by <a href="user?id=49yearsold" class="hnuser"><%= @contribution.user %></a> <span class="age"><a href="item?id=26841385"><%= @contribution.created_at %></a></span> <span id="unv_26841385"></span> | <a href="hide?id=26841385&amp;auth=6112994914be1bda129cba480607d04c58d01f62&amp;goto=item%3Fid%3D26841385">hide</a> | <a href="https://hn.algolia.com/?query=Ask%20HN%3A%20How%20to%20Get%20Sports%20Data%3F&type=story&dateRange=all&sort=byDate&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="fave?id=26841385&amp;auth=6112994914be1bda129cba480607d04c58d01f62">favorite</a> | <a href="item?id=26841385">1&nbsp;comment</a></td></tr>
      
      <% if @contribution.url.empty? %>
        <tr><td colspan="2"></td><td><%= @contribution.text %></td></tr>
      <% end %>
      
      <tr><td colspan="2"></td><td>
        <%= render '/comments/form', comment: Comment.new %>
      </td></tr>
      </table><br><br>
      
      
      <% padding = 0 %>
      <table border="0" class='comment-tree'>
        
          <% @comments.each do |comment| %>

              <% draw_comment(comment, 20) %>
              
              <% draw_fill_tree(comment, 60) %>

            <% end %>
          <% end %>
          
      </table>
      
      <br><br></td></tr>
      
<tr><td><img src="s.gif" height="10" width="0"><table width="100%" cellspacing="0" cellpadding="1"><tr><td bgcolor="#ff6600"></td></tr></table><br><center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
        | <a href="newsfaq.html">FAQ</a>
        | <a href="lists">Lists</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="security.html">Security</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
          <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
            </center></td></tr>
      </table></center></body><script type='text/javascript'></script></html>


